body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

p {
    font-size: 16px;
    color: #333;
}

.note {
    color: green;
    font-style: italic;
}

#footer-link {
    color: rgb(211, 152, 42);
    text-decoration: none;
}

.highlight {
    background-color: rgba(0, 255, 204, 0.679);
    font-weight: bold;
}

#main-heading {
    color: darkblue;
    font-size: 40px;
    text-align: center;
}

.header {
    background-color: #cce5ff;
    padding: 20px;
}

.main-content {
    background-color: rgb(238, 186, 255);
    padding: 20px;
}

.footer {
    background-color: #484646;
    color: white;
    padding: 15px;
    text-align: center;
}

img {
    border: 3px solid #444;
    margin: 2px;
    padding: 5px;
}

button {
    border: 2px solid darkblue;
    padding: 10px 25px;
    margin: 20px 0;
}

.pos-static {
    position: static;
    background-color: lightgray;
}

.pos-relative {
    position: relative;
    top: 10px;
    left: 20px;
    background-color: lightgreen;
}

.pos-absolute {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightpink;
}

.postition {
    position: relative;
    height: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;   
}

h2 {
    font-size: 2em;     
}

h3 {
    font-size: 24px;      
}

img {
    width: 50%;         
    height: auto;
}

.box-left {
    float: left;
    width: 45%;
    background-color: lightblue;
    padding: 15px;
}

.box-right {
    float: right;
    width: 45%;
    background-color: lightyellow;
    padding: 15px;
}

.clear-fix {
    clear: both;
}